[submodule "42-libft"]
	path = 42-libft
	url = https://github.com/Lilien86/42-libft.git
[submodule "libft"]
	path = libft
	url = https://github.com/Lilien86/42-libft.git
[submodule "mlx"]
	path = mlx
	url = https://github.com/42Paris/minilibx-linux
